# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

# Tus librerías existentes
azure-functions
numpy==1.26.4
matplotlib==3.7.5
pandas==2.1.4
azure-storage-blob

# Librerías nuevas para el servidor web en Docker
fastapi
uvicorn[standard]
python-multipart
requests